body{
	
	background-color:#f0f0f0;
}


@media screen and (max-width: 450px) {
  nav .logo-brand {
    display: none;
  }
  div .col {
    margin-top: 15px;
  }
}

@media screen and (min-height: 640px) {
  .app-sidebar {
    overflow: auto;
  }
}

@media screen and (min-width: 750px) {
  .app-sidebar .logo-brand {
    display: none;
  }
}
.app-sidebar {
  background: #fff;
  height: 1000px;
  padding-top: 100px;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.2s;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.51);
  -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.51);
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.51);
}

.app-sidebar .nav-item {
  padding-left: 20px;
  padding-top: 13px;
  height: 60px;
}
.app-sidebar ul .nav-link {
    color: #222 !important;
}
.app-sidebar .nav-item:hover, .app-sidebar ul .active{
  background: #eee;
}
.app-sidebar ul .nav-link:hover, .app-sidebar ul .active {
  color: #444 !important;
}
.app-sidebar .nav-item i {
  margin-right: 15px;
}

a {
	color: black;
}

.carousel-inner {
  height: 250px;
}

.carousel-item img{	
	height: 250px;
}



